<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>{{PageTitle}}</h1>
    <p>Some about text here</p>
    <table>
        <th>
            <tr>
                <td>
                    <h1> DOC</h1>
                </td>
                <td>
                    <h1> Name</h1>
                </td>
                <td>
                    <h1> Class</h1>
                </td>
            </tr>
        </th>
        <tbody>
            <tr>
                <td>1001</td>
                <td>k.html</td>
                <td>FileSystem</td>
            </tr>
        </tbody>
    </table>

    <footer>
        <p>CopyRite ........... {{copyrite}}</p>
    </footer>

</body>

</html>